{% if targetPackage == "debian" -%}
#!/bin/sh

set -e

action="$1"
# Only do complete clean-up on purge.
if [ "$action" != "purge" ] ; then
  exit 0
fi
{% endif %}
{% if targetPackage == "rpm" -%}
rm -f /usr/local/share/applications/{{ PACKAGE }}.desktop
{% endif %}
